# Core backend
fastapi==0.111.1
uvicorn[standard]==0.23.2
pydantic

# Database
SQLAlchemy==2.0.23
# databases==0.7.3  <-- REMOVE THIS

# Vector store
faiss-cpu==1.13.2 --only-binary :all:
numpy

# HTTP requests
httpx
requests

# Environment & config
python-dotenv

# Audio / STT / TTS
pyttsx3
vosk
soundfile

# Optional for multilingual processing / NLP
transformers
torch

# Others
typing-extensions
pydantic_settings